{% extends "layout.html" %}

{% block title %}
    Volunteer: Profile
{% endblock %}

{% block main %}
<div class="container-fluid">
    <!-- volunteer information section -->
    <div class="row">
		<div class="col-md-6">
			<h3>
				{{ volunteer.name}}
			</h3>
			<h3>
				{{ volunteer.email}}
			</h3>
		</div>
		<div class="col-md-6">
			<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='logo.png')}}" class="rounded-circle" />
            <!-- add stars with the total points that user has and a button for redeem -->
            <p>Points: {{ volunteer.points }}</p>
            <p>Redeem: <a class="btn btn-primary" href="/redeem">Redeem</a></p>
		</div>
	</div>

    <!-- volunteer tasks section -->
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center text-muted">
				Current Tasks
			</h3>
		</div>
	</div>

	<div class="row">
        {% for task in current_tasks %}
		<div class="col-md-4">
            <div class="card">
                <img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
                <div class="card-block">
                    <h5 class="card-title">
                        {{ task.name }}
                    </h5>
                    <p class="card-text">
                        <!-- show only first 8 words of the description -->
                        {{ task.description.split(' ')[:8]|join(' ') }}...
                    </p>
                    <p>
                        <a class="btn btn-primary" href="/tasks/{{ task.id }}">Read more</a> <p>{{ task.points }}</p>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
		<div class="col-md-12">
			<h3 class="text-center text-muted">
				Completed Tasks
			</h3>
		</div>
	</div>
    <div class="row">
		{% for task in completed_tasks %}
		<div class="col-md-4">
            <div class="card">
                <img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
                <div class="card-block">
                    <h5 class="card-title">
                        {{ task.name }}
                    </h5>
                    <p class="card-text">
                        <!-- show only first 8 words of the description -->
                        {{ task.description.split(' ')[:8]|join(' ') }}...
                    </p>
                    <p>
                        <a class="btn btn-primary" href="/tasks/{{ task.id }}">Read more</a> <p>{{ task.points }}</p>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
