{% extends "layout.html" %}

{% block title %}
    Volunteer: Tasks
{% endblock %}

{% block main %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
                {% for task in tasks %}
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="{{ url_for('static', filename='logo.png')}}"/>
						<div class="card-block">
							<h5 class="card-title">
								{{ task.name }}
							</h5>
							<p class="card-text">
                                <!-- show only first 8 words of the description -->
                                {{ task.description.split(' ')[:8]|join(' ') }}...
							</p>
							<p>
								<a class="btn btn-primary" href="/tasks/{{ task.id }}">Read more</a> <p>{{ task.points }}</p>
							</p>
						</div>
					</div>
				</div>
                {% endfor %}

			</div>
		</div>
	</div>
</div>
{% endblock %}
